body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App {
  width: 40%;
  margin: auto;
  border: 1px solid #61dafb;
  border-radius: 10px;
  padding: 10px 20px 20px;
  margin-top: 50px;
  overflow-wrap: break-word;
}

h3{
  color: #61dafb;
  text-shadow: 1px 1px white;
  font-size: 20px;
}

input{
  border: none;
  background-color: #191c22;
  border-radius: 5px;
  margin-right: 5px;
  padding: 10px;
  color: white;
}

button{
  background-color: #191c22;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.completedStyle{
  background-color: #191c22;
  list-style: ✔️;
  text-decoration: line-through;
}

.App ul li{
  list-style: ❗;
  margin-top: 2px;
  font-size: 18px;
  overflow-x: hidden;
}
li:hover{
  cursor: pointer;
}

span:hover{
  cursor: pointer;
}

.taskDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}